

<main class="main-area">
    
  <article style='color: red ;font-size:15px; font-weight: bold';>กรุณากรอกข้อมูลเป็นตัวเลขให้ถูกต้อง</article>
  <article class="test"><h3>ค้นหาราคาที่ต้องการ</h3></article>
 
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_tag microposts_path, :method => 'get' do %>
          <%= label_tag("ราคาเริ่มต้น") %><br>
          <%= number_field_tag :Starting_price, params[:Starting_price] ,:required => true, :min=>0, :size => "100" %><br>
          <%= label_tag("ราคาสูงสุด") %><br>
          <%= number_field_tag :Highest_price, params[:Highest_price] ,:required => true, :min=>0,:size => "100" %><br>
          <%= submit_tag("Search")%> 
          <% end %>
          <p><%= link_to "ค้นหาทั้งหมด",search_all_path %></p>
    </div>
  </div>
</main>



    
  


    
  