<main class="main-area">
  <% provide(:title, @user.name) %>
<style>
    /* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

</style>

<main class="main-area">
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <h1>
                  <%= gravatar_for @user %>
                  <%= @user.name %>
                </h1>
            </section>
        </aside>
        <br><br> <br> <br> <br><br>
            <% if @user.microposts.any? %>
            
            
              <table id="productSizes" class="table table-striped">
                <thead>
                  <tr>
                    <td>Spec Posts (<%= @user.microposts.count %>)</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% @microposts.each do |micropost| %>
                        <td style="width:30%"><p style="font-size:1.2em; margin-bottom:0;">
                          <strog>ราคารวม :</strong> <%=micropost.price %> บาท
                          <span class="timestamp">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</span> 
                        </td>
                        <td style="width:100%"><br><%= link_to 'view more....', micropost %> </td>
                        <!--edit delete-->
                        <td><%= link_to raw('<span class="far fa-edit" aria-hidden="true"></span>'), edit_micropost_path(micropost) %></td>  
                        <td><%= link_to raw('<span class="far fa-trash-alt" aria-hidden="true"></span>'), micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                    <% end %>
                  
                </tbody>
              </table>
            <% end %>
            
            
     <%= @user.email %>,<%= @user.name %>
    </div>
    
   
</main>
