<main class="main-area">
<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="row">
      <%= form.hidden_field :user_id, id: :micropost_user_id,value: current_user.id %>
    </div>
    
    
    
    <div class="form-row col-md-12" style="font-size:120%;">
        <div class="col-md-5 col-md-offset-1">
            <%= form.label :รุ่นของcpu %>
            <%= form.text_field :cpu, id: :micropost_cpu , class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..." %>
            <a href="#" rel="tooltip" title="intel corei7 7thgen"><i class="far fa-question-circle"></i></a>    
        </div>
          
      
        <div class="col-md-4 col-md-offset-0">
            <%= form.label :ราคาและสถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_cpu, id: :micropost_detail_cpu, class: 'form-control',:required => true ,placeholder: "กรุณากรอกราคาและร้านค้าที่ขายสินค้านี้..." %>
            <a href="#" rel="tooltip" title="4950บาท jib future park rangsit"><i class="far fa-question-circle"></i></a>
        </div>
        
        
    </div>
    
    <div class="form-row col-md-12"style="font-size:120%;">
        <div class="col-md-5 col-md-offset-1">
            <%= form.label :รุ่นของmainboard %>
            <%= form.text_field :mainboard, id: :micropost_mainboard, class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
      
        <div class="col-md-4 col-md-offset-0">
            <%= form.label :ราคาและสถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_mainboard, id: :micropost_detail_mainboard, class: 'form-control',:required => true ,placeholder: "กรุณากรอกราคาและร้านค้าที่ขายสินค้านี้..."%>
        </div>
    </div> 
    
    <div class="form-row col-md-12"style="font-size:120%;">
        <div class="col-md-5 col-md-offset-1">
            <%= form.label :รุ่นของvga %>
            <%= form.text_field :vga, id: :micropost_vga, class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
        
        <div class="col-md-4 col-md-offset-0">
            <%= form.label :ราคาและสถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_vga, id: :micropost_detail_vga, class: 'form-control',:required => true ,placeholder: "กรุณากรอกราคาและร้านค้าที่ขายสินค้านี้..."%>
        </div>
    </div>
    
    <div class="form-row col-md-12"style="font-size:120%;">
        <div class="col-md-5 col-md-offset-1">
            <%= form.label :รุ่นของcase %>
        
            <%= form.text_field :case, id: :micropost_case, class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
        
        <div class="col-md-4 col-md-offset-0">
            <%= form.label :ราคาและสถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_case, id: :micropost_detail_case, class: 'form-control',:required => true ,placeholder: "กรุณากรอกราคาและร้านค้าที่ขายสินค้านี้..."%>
        </div>
    </div>
    
  
      <div class="form-row col-md-12" style="font-size:120%;">
        <div class="col-md-5 col-md-offset-1">
            <%= form.label :รุ่นของram %>
            <%= form.text_field :ram, id: :micropost_ram, class: 'form-control', class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
        <div class="col-md-4 col-md-offset-0">
            <%= form.label :ราคาและสถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_ram, id: :micropost_detail_ram, class: 'form-control',:required => true ,placeholder: "กรุณากรอกราคาและร้านค้าที่ขายสินค้านี้..."%>
        </div>
    </div>
    
    <div class="form-row col-md-12"style="font-size:120%;">
        <div class="col-md-5 col-md-offset-1">
            <%= form.label :รุ่นของpower %>
            <%= form.text_field :power, id: :micropost_power, class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
        <div class="col-md-4 col-md-offset-0">
            <%= form.label :ราคาและสถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_power, id: :micropost_detail_power, class: 'form-control',:required => true ,placeholder: "กรุณากรอกราคาและร้านค้าที่ขายสินค้านี้..."%>
        </div>
    </div>
    
    
    <div class="form-row col-md-12" style="font-size:120%;">
        <div class="col-md-5 col-md-offset-1">
          <%= form.label :รุ่นของstorage %>
            <%= form.text_field :storage, id: :micropost_storage, class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
        <div class="col-md-4 col-md-offset-0">
              <%= form.label :ราคาและสถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_storage, id: :micropost_detail_storage, class: 'form-control',:required => true ,placeholder: "กรุณากรอกราคาและร้านค้าที่ขายสินค้านี้..."%>
         </div>
    </div>
    
    <div class="form-row col-md-12" style="font-size:120%;">
        <div class="col-md-2 col-md-offset-5">
              <%= form.label :ราคารวม %>
            <%= form.number_field :price, id: :micropost_price, class: 'form-control',:required => true ,:min => 0 %>
        </div>
    </div>
    
    <div class="actions">
        <%= form.submit %><br>
    </div>
    
<% end %>
</main>