<main class="main-area">
<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="row">
      <%= form.hidden_field :user_id, id: :micropost_user_id,value: current_user.id %>
    </div>
  
    <div class="form-row"style="font-size:120%;">
        <div class="col-md-5"style="margin=0; padding=0;">
            <%= form.label :รุ่นของcpu %>
            <%= form.text_field :cpu, id: :micropost_cpu , class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์...", :required => true ,:value => 'intel corei7 7thgen'%>
        </div>
        <div class="col-md-2">
            <%= form.label :ราคา %> 
            <%= form.number_field :price_cpu, id: :micropost_price_cpu, class: 'form-control',:required => true,:min => 0 ,placeholder: "ราคา...", :required => true ,:value => '7000'%>
        </div>
        <div class="col-md-5">
            <%= form.label :สถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_cpu, id: :micropost_detail_cpu, class: 'form-control',:required => true ,placeholder: "กรุณากรอกร้านค้าที่ขายสินค้านี้...",:required => true ,:value => 'jib future park rangsit'%>
        </div>
    </div>
    
    <div class="form-row"style="font-size:120%;">
        <div class="col-md-5 mb-5">
            <%= form.label :รุ่นของmainboard %>
            <%= form.text_field :mainboard, id: :micropost_mainboard, class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
        <div class="col-md-2 mb-4">
            <%= form.label :ราคา %> 
            <%= form.number_field :price_mainboard, id: :micropost_price_mainboard, class: 'form-control',:required => true,:min => 0 ,placeholder: "ราคา"%>
        </div>
        <div class="col-md-5 mb-5">
            <%= form.label :สถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_mainboard, id: :micropost_detail_mainboard, class: 'form-control',:required => true ,placeholder: "กรุณากรอกร้านค้าที่ขายสินค้านี้..."%>
        </div>
    </div> 
    
    <div class="form-row"style="font-size:120%;">
        <div class="col-md-5">
            <%= form.label :รุ่นของvga %>
            <%= form.text_field :vga, id: :micropost_vga, class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
        <div class="col-md-2">
            <%= form.label :ราคา %> 
            <%= form.number_field :price_vga, id: :micropost_price_vga, class: 'form-control',:required => true,:min => 0 ,placeholder: "ราคา"%>
        </div>
        <div class="col-md-5">
            <%= form.label :สถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_vga, id: :micropost_detail_vga, class: 'form-control',:required => true ,placeholder: "กรุณากรอกร้านค้าที่ขายสินค้านี้..."%>
        </div>
    </div>
    
    <div class="form-row"style="font-size:120%;">
        <div class="col-md-5">
            <%= form.label :รุ่นของcase %>
            <%= form.label :case %>
            <%= form.text_field :case, id: :micropost_case, class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
        <div class="col-md-2 ">
            <%= form.label :ราคา %> 
            <%= form.number_field :price_case, id: :micropost_price_case, class: 'form-control',:required => true,:min => 0 ,placeholder: "ราคา"%>
        </div>
        <div class="col-md-5 ">
            <%= form.label :สถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_case, id: :micropost_detail_case, class: 'form-control',:required => true ,placeholder: "กุรณากรอกร้านค้าที่ขายสินค้านี้..."%>
        </div>
    </div>
    
    <div class="form-row" style="font-size:120%;">
        <div class="col-md-4">
            <%= form.label :รุ่นของram %>
            <%= form.text_field :ram, id: :micropost_ram, class: 'form-control', class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
        <div class="col-md-3">
            <!--style="border-radius: 15px 50px 30px 5px;"-->
            <%= form.label :ขนาดram %>
            <select id="ram_size" class="custom-select">
                <option value="" disabled = "disabled" selected="กรุณาเลือกขนาดแรม">กรุณาเลือกขนาด ram</option>
                <option value="2GB">2GB</option>
                <option value="4GB">4GB</option>
                <option value="8GB">8GB</option>
                <option value="16GB">16GB</option>
                <option value="32GB">32GB</option>
            </select>
        </div>    
        <div class="col-md-2">
            <%= form.label :ราคา %> 
            <%= form.number_field :price_ram, id: :micropost_price_ram, class: 'form-control',:required => true,:min => 0 ,placeholder: "ราคา"%>
        </div>
        <div class="col-md-3">
            <%= form.label :สถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_ram, id: :micropost_detail_ram, class: 'form-control',:required => true ,placeholder: "กรุณากรอกร้านค้าที่ขายสินค้านี้..."%>
        </div>
    </div>
    
    <div class="form-row" style="font-size:120%;">
        <div class="col-md-4">
          <%= form.label :รุ่นของstorage %>
            <%= form.text_field :storage, id: :micropost_storage, class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
        <div class="col-md-3">
             <%= form.label :ขนาดฮาร์ดดิสก์ %>
            <select class="custom-select">
                <option value="" disabled = "disabled" selected="กรุณาเลือกขนาดความจุฮาร์ดดิสต์" >กรุณาเลือกขนาดความจุฮาร์ดดิสต์</option>
                <option value="500GB">500GB</option>
                <option value="1TB">1TB</option>
                <option value="2TB">2TB</option>
                <option value="3TB">3TB</option>
                <option value="4TB">4TB</option>
                <option value="6TB">6TB</option>
                <option value="8TB">8TB</option>
                <option value="10TB">10TB</option>
                <option value="12TB">12TB</option>
                <option value="14TB">14TB</option>
            </select>
            </div>    
        <div class="col-md-2 ">
          <%= form.label :ราคา %> 
            <%= form.number_field :price_storage, id: :micropost_price_storage, class: 'form-control',:required => true,:min => 0 ,placeholder: "ราคา"%>
         </div>
        <div class="col-md-3 ">
              <%= form.label :สถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_storage, id: :micropost_detail_storage, class: 'form-control',:required => true ,placeholder: "กรุณากรอกร้านค้าที่ขายสินค้านี้..."%>
         </div>
    </div>
    
    <div class="form-row"style="font-size:120%;">
        <div class="col-md-4">
            <%= form.label :รุ่นของpower %>
            <%= form.text_field :power, id: :micropost_power, class: 'form-control',:required => true ,placeholder: "กรุณากรอกชื่อรุ่นของอุปกรณ์..."%>
        </div>
        <div class="col-md-3" style="border=100%">
            <%= form.label :ขนาดกำลังไฟ %>
            <select class="custom-select">
                <option value="" disabled = "disabled" selected="กรุณาเลือกขนาดกำลังไฟ" >กรุณาเลือกขนาดกำลังไฟ</option>
                <option value="400W">400W</option>
                <option value="450W">450W</option>
                <option value="500W">500W</option>
                <option value="520W">520W</option>
                <option value="535W">535W</option>
                <option value="550W">550W</option>
                <option value="580W">580W</option>
                <option value="600W">600W</option>
                <option value="650W">650W</option>
                <option value="700W">700W</option>
                <option value="735W">735W</option>
                <option value="750W">750W</option>
                <option value="800W">800W</option>
                <option value="835W">835W</option>
                <option value="850W">850W</option>
                <option value="860W">860W</option>
                <option value="1000W">1000W</option>
                <option value="1100W">1100W</option>
                <option value="1200W">1200W</option>
            </select>
        </div> 
        <div class="col-md-2">
            <%= form.label :ราคา %> 
            <%= form.number_field :price_power, id: :micropost_price_power, class: 'form-control',:required => true,:min => 0 ,placeholder: "ราคา"%>
        </div>
        <div class="col-md-3">
            <%= form.label :สถานที่ซื้อสินค้า %>
            <%= form.text_field :detail_power, id: :micropost_detail_power, class: 'form-control',:required => true ,placeholder: "กรุณากรอกร้านค้าที่ขายสินค้านี้..."%>
        </div>
    </div>
    
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
</main>