<li id="micropost-<%= micropost.id %>">
  <!--<%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>-->
  <!--<span class="user"><%= link_to micropost.user.name, micropost.user %></span><br>-->

<div class="table-responsive-md">
<table class="table">
 
<tbody>
 <p><strong>ราคารวม :</strong><%= micropost.price %> บาท</p>
 <table class="table">
          <thead class="thead-light">
               <thead>
   
  </thead>
              <tr>
                 <th scope="col">ประเภท</th>
                 <th scope="col">รุ่น</th>
                 <th scope="col">ราคาและสถานที่ซื้อ</th>
              </tr>
          </thead>
          
          <tbody>
             <tr>
                <td>CPU</td>
                <td><p><%= micropost.cpu %></p></td>
                <td><p><%= micropost.detail_cpu %></p></td>
             </tr>
              <tr>
                <td>Mainboard</td>
                <td><p><%= micropost.mainboard %></p></td>
                <td><p><%= micropost.detail_mainboard %></p></td>
             </tr>
             
              <tr>
                <td>Ram</td>
                <td><p><%= micropost.ram %></p></td>
                <td><p><%= micropost.detail_ram %></p></td>
             </tr>
             
              <tr>
                <td>Storage</td>
                <td><p><%= micropost.storage %></p></td>
                <td><p><%= micropost.detail_storage %></p></td>
             </tr>
             
              <tr>
                <td>Graphic card</td>
                <td><p><%= micropost.vga %></p></td>
                <td><p><%= micropost.detail_vga %></p></td>
             </tr>
             
              <tr>
                <td>Power</td>
                <td><p><%= micropost.power %></p></td>
                <td><p><%= micropost.detail_power %></p></td>
                
                 <tr>
                <td>Case</td>
                <td><p><%= micropost.case %></p></td>
                <td><p><%= micropost.detail_case %></p></td>
             </tr>
             </tr>
         </tbody>
  </table>

</div>
  
  
  <div style="margin-left: 63px">
    <td><%= link_to raw('<span class="far fa-edit" aria-hidden="true"></span>'), edit_micropost_path(micropost) %></td>  
    <td><%= link_to raw('<span class="far fa-trash-alt" aria-hidden="true"></span>'), micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
  <span class="timestamp" style="margin-left: 0px">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span><br><br>
</li>