<% provide(:title, "Edit") %>
<main class="main-area">
<h1>Editing Post</h1>

<%= render 'form', micropost: @micropost %>

<%= link_to 'Show', @micropost %> |
<%= link_to raw('<span class="far fa-hand-point-left" aria-hidden="true"> </span> Back'), current_user %>
</main>