<% provide(:title, "All Post") %>
<main class="main-area">
<p id="notice"><%= notice %></p>

<h1>ยินดีต้อนรับ</h1>
<h3>เพราะเงินของคุณมีค่า ให้เราเป็นตัวช่วยในการเลือกอุปกรณ์คอมพิวเตอร์ที่คุ้มค่าที่สุด</h3><br>
<h4>เลือกราคาอุปกรณ์คอมพิวเตอร์ที่น่าสนใจทั้งหมด</h4>

<% if @microposts.count == 0 %>
    <p>"ไม่พบช่วงราคาที่คุณค้นหา"</p>
<% else %>
   
<table id="productSizes" class="table table-striped">
  <thead>
    <tr>
      <th scope="col" style="font-size: 20px;">ราคาที่มีให้คุณเลือกสรรค์</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @microposts.each do |micropost| %>
        <td style="width:30%"><p style="font-size:1.2em; margin-bottom:0;"><strog>ราคารวม :</strong> <%=micropost.price %> บาท </p>post by: <%=micropost.user.name if micropost.user%>  ||
          <span class="timestamp">
              Posted <%= time_ago_in_words(micropost.created_at) %> ago.<br>
              Update at <%= time_ago_in_words(micropost.updated_at) %> ago.
          </span> </td>
        <td style="width:100%"><br><%= link_to 'view more...', micropost %> </td>
    </tr>
  </tbody>
      <% end %>
<% end %>
<br>
</table>



<%if logged_in?%>
    <%= link_to  raw('<span class="fas fa-plus" aria-hidden="true"> </span> New Post'), posts_path %>
<%end%>
</main>