<% provide(:title, "New Post") %>
<main class="main-area">
    <h1>New Post</h1>

<%= render 'form', micropost: @micropost %>
<%= link_to raw('<span class="far fa-hand-point-left" aria-hidden="true"> </span> Back'), microposts_path %>

</main>