<% provide(:title, @micropost.cpu) %>
<main class="main-area">
<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>
   
     <p><strong>ราคารวม :</strong><%= @micropost.price %> บาท</p>
        <table class="table table-striped;col-md-4 col-md-offset-2" style="width: 60%">
          <thead>
              <tr>
                 <th scope="col">ประเภท</th>
                 <th scope="col">รายละเอียด</th>
                 <th scope="col">ราคาและสถานที่ซื้อ</th>
              </tr>
          </thead>
         <tbody>
             <tr >
                <td>CPU</td>
                <td><p><%= @micropost.cpu %></p></td>
                <td><p><%= @micropost.detail_cpu %></p></td>
             </tr>
             
             <tr>
                <td>Mainboard</td>
                <td><p><%= @micropost.mainboard %></p></td>
                <td><p><%= @micropost.detail_mainboard %></p></td>
             </tr>
             
              <tr>
                <td>Ram</td>
                <td><p><%= @micropost.ram %></p></td>
                <td><p><%= @micropost.detail_ram %></p></td>
             </tr>
             
              <tr>
                <td>Storage</td>
                <td><p><%= @micropost.storage %></p></td>
                <td><p><%= @micropost.detail_storage %></p></td>
             </tr>
             
              <tr>
                <td>Graphic card</td>
                <td><p><%= @micropost.vga %></p></td>
                <td><p><%= @micropost.detail_vga %></p></td>
             </tr>
             
              <tr>
                <td>Power</td>
                <td><p><%= @micropost.power %></p></td>
                <td><p><%= @micropost.detail_power %></p></td>
                
                 <tr>
                <td>Case</td>
                <td><p><%= @micropost.case %></p></td>
                <td><p><%= @micropost.detail_case %></p></td>
             </tr>
             </tr>
             
         </tbody>
         
        </table>

         post by: <%=@micropost.user.name%>  ||
            
            <span class="timestamp">
                Posted <%= time_ago_in_words(@micropost.created_at) %> ago.<br>
                Update at <%= time_ago_in_words(@micropost.updated_at) %> ago.
          </span><br>
   
<%if logged_in?%>
    <%if current_user.admin?  %>
        <%= link_to raw('<span class="far fa-edit" aria-hidden="true"></span>'), edit_micropost_path(@micropost) %> | 
        <%= link_to raw('<span class="far fa-trash-alt" aria-hidden="true"></span>'), @micropost, method: :delete, data: { confirm: 'Are you sure?' } %> | 
    <%end%>
<%end%>    
<%= link_to raw('<span class="far fa-hand-point-left" aria-hidden="true"></span> Back'), microposts_path %>

</main>