@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    background-color: #fff;
    //max-width: 940px;
    margin: auto;
    min-height: 100vh;
    font-family: 'Athiti', sans-serif;

}

.site-header {
    grid-area: header;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #caece1;
}

.banner {
    grid-area: banner;
}

.main-area {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: main;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    background-color: aliceblue;
}

.sidebar {
    grid-area: sidebar;
    font-family: 'Inconsolata', monospace;
    padding-right: 10px;
    padding-left: 20px;
    font-size: 100%;
}



@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
    font-family: 'Kalam', cursive;
    //font-size: 100%;
    background-image: image-url("bg.jpg");
  //background-origin: content;
  background-repeat: no-repeat;
  //background-position: center;
  background-attachment: fixed;
  background-size: 100%, auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #F4A460;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #F4A460;
    text-decoration: none;
  }
}

/* footer */

footer {
  //margin: auto;
  padding-top: 9px;
  color: white;
  //border-left: 6px solid red;
  background-color: black;
  grid-area: footer;
  padding-left: 40px;
    padding-right: 40px;
    background-color: #001f3f;
    border-top: 2px solid #90ee90;
    
    font-family: 'Inconsolata', monospace;
  a {
    color: white;
    &:hover {
      color: $gray-light;
    }
  }
  small {
    float: left;
  }
  ul {
    
    float: right;
    list-style: none;
    li {
      
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  // padding-left: 30px;
  a {
    float: left;
    padding: 0px 25px;
   // border-left: 1px solid $gray-lighter; //border divide for follow and follower
    color: #D2691E;  //follow's color
    //padding-left :80px;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #F4A460; //change color if you hover
    }
  }
  strong {
    display: block;
  }
  
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/* forms */
textarea{
  border: 3px solid #FFD700;
  width: 50%;
  margin-bottom: 15px;
  //@include box_sizing;
  background: #FFFF99;
}
input, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  //background: #C0F9BD;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red ;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.card{
  background-image: image-url("bg-about-2-edit-black.jpg");
}
.frame{
  background-image: image-url("final-bd-sign.jpg");
}
.bglogin{
  background-image: image-url("final-bd-sign.jpg");
  width: 1140px;
  height: 500px;
  
}
.bgedit{
  background-image: image-url("final-bd-sign.jpg");
  width: 1140px;
  // height: 900px;
}
.bgprofile{
  background-image: image-url("bg-profile.jpg");
  background-color: #fff;
  width: 1300px;
 // height: 2000px;
  margin: auto;
}
.bgprofile1{
 // background-image: image-url("final-bd-sign.jpg");
  background-color: #fff;
}
.bgcontact{
  background-image: image-url("final-bd-sign.jpg");
  width: 1140px;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  //background-origin: content;
}
.bghelp{
  background-image: image-url("bghelp.jpg");
  //width: 1140px;
  //height: auto;
  //background-origin: content;
  background-repeat: no-repeat;
  //background-position: center;
  background-attachment: fixed;
  background-size: 100%, auto;
  
  
}
.bgalluser{
   background-color:#FFF8DC;
  //background-image: image-url("bg-profile.jpg");
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    // margin-left: 10px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float:right;
    display:inline;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
}

nav ul > li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    color: #222;
    padding: 0 1rem;
}

nav li > #welcome {
    position: relative;
    display: block;
    padding: 5px 5px;
    background-color: #caece1;
    color:white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: bold;



}

nav li > a {
    position: relative;
    display: block;
    padding: 5px 5px;

}

a[href] {
    color: #476286;
    text-decoration: none;
}

h2 {
    text-align: center;
}

th {
    color: blueviolet;
}

caption {
    font-size: 1.5em;
}

/*form {
    display: grid;
    padding: 1em;
    margin: 1em auto 2em auto;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    grid-template-columns: 220px  ;
    grid-gap: 1em;
    max-width: 300px;
}

form input {
    background: #fff;
    border: 1px solid #9c9c9c;
    font: 0.9em sans-serif;

}*/
table {
    width: 80%;
    margin-bottom: 10px;

}
table #name{
    width: 20%;
    margin-bottom: 10px;
}
tr{
    text-align: left;
}

input[type=submit], input[type=reset] {
    background: lightgray;
    border-radius: 10px;
    padding: 0.5em;
    text-align: center  ;
    width: 50%;
    border: 0;
}

input[type=submit]:hover{
    background: #CAECE1;
    color: white;
}

input[type=text],input[type=password],input[type=number] {
    border-radius: 12px;
    padding: 0.5em;
    width: 85%;
    border: 0.5px solid #121212;
    margin-left: 8%;
}

input:focus {
    outline: 3px solid #CAECE1;
}
label {
    text-align: right;
    grid-column: 1 / 2;
}

input, button {
    grid-column: 2 / 4;
}

input[type=submit] {
    grid-column: 2 / 3;
}

.error {
    text-align: center;
    color: firebrick;
}

.message {
    width: 350px;
    margin: 10px auto 10px auto;
    padding: 5px;
    text-align: center;
    background-color: lightgreen;
    font-size: 1.5em;
    border-radius: 10px;
}

/* footer*/
textarea {
    background-color: #5c969b;
    color: #ffffff;
    padding-left: 10px;
}


.footer_text {
    margin: auto;
    width: 930px;
    height: 30px;
}

.footer_text h3 {
    color: #cccccc;
}

.footer_text b {
    color: #ffffff;
    font-family: 'Athiti', sans-serif;
    font-size: 16px;
}

.footer_text a {
    color: #ffffff;}

.footer_copyright {
    color: #000000;
    font: 12px/20px "Avenir Next", "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 10px ;
    text-align: center;
}

.footer_copyright a {
    color: #cccccc;
    font-family: 'Athiti', sans-serif;
    font-size: 10px;
}

img {
    max-width: 100%;
    border-radius: 0;
    -webkit-transition: -webkit-transform 4s ease 0s;
    -moz-transition: -moz-transform 4s ease 0s;
    -o-transition: -o-transform 4s ease 0s;
    transition: transform 4s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
/*--------------------------*/
/* เพิ่มเติมส่วน content*/

.post-content {
    grid-area: content;
    background-color: #F0F2F5;
    padding: 10px;
    float: left;
}

.egg{
    padding: 10px;
}

.site-main {
    grid-area: main;
    background-color: #fff;
}

.post {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas:
            "avatar content";
    background-color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-avatar {

    background-color: #F0F2F5;
}


.post-content p {
    margin-top: 0;
    margin-left: 20px;
    text-align: center;
}
.test{
    float:top;
    text-align: center;
}
.topic{
    text-align: center;
}
.post-avatar-bg-green {
   /* background-color: #ccff00;*/
    float: right;
    grid-area: main2;
    background-color: aliceblue;
}

.post-content-bg-green {
    background-color: #ccff00;
}
.main-area #buttom{
      margin-left: 185px;
      margin-top: 5px;
  }
.main-area #buttom_search{
    margin-left: 185px;
}
.main-area #buttom_login{
    margin-left: 80px;
}
.main-area #block_search{
    margin-right: 40px;
}
.main-area #field{
margin-right: 35px;
}

#Starting_price {
  margin-left: 0px;
}
#Highest_price {
  margin-left:0px;
}
//form {
  //display: inline-block; //Or display: inline; 
  //border:3px;
//}
select {
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
}
