 <header class="site-header">
        
        <%= image_tag("egg3.gif", height: '110', width: '110',:style =>'float:right;' ) %>
        <h1 class="topic "style="color: slategray;text-shadow: -1px -1px white, 1px 1px #333;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ผู้ช่วยจัดสเปคคอม ที่ดีที่สุดของคุณ </h1>
        <nav>
            <ul>
               
                <li ><a id="welcome" > <i class="fa fa-id-card" aria-hidden="true"></i> ยินดีต้อนรับ</li>
                <li><%= link_to raw('<span class="fa fa-home" aria-hidden="true"></span> Home'), root_path%></li>
                <li><%= link_to raw('<span class="fab fa-angellist" aria-hidden="true"></span> About'), about_path %></li>
                <li><%= link_to raw('<span class= "fas fa-clipboard aria-hidden="true"></span> All Post'),search_all_path %></li>
                
                <% if logged_in? %>
                  
                  <li><%= link_to raw('<span class="fas fa-plus" aria-hidden="true"></span> New Post'), posts_path %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "My Post", current_user %></li>
                      
                      <li class="divider"></li>
                      <li>
                          <%= link_to raw('<span class="fas fa-sign-out-alt" aria-hidden="true"></span> Sign out'), signout_path,:method => :delete%>
                      </li>
                      
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to raw('<span class="fas fa-sign-in-alt" aria-hidden="true"></span> Sign in'),signin_path %></li>
                  <li><%= link_to raw('<span class="fa fa-key" aria-hidden="true"></span> Sign up'), signup_path %></li>
                <% end %>
    
            </ul>
        </nav>
        

    </header>