<!DOCTYPE html>
<html>
<head>
  <title><%= full_tile(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Kalam" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Taviraj:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!--<link href="assets/stylesheet/static_pages.scss" rel="stylesheet" >-->
  <style>
     .contain{
       
        margin: auto;
        padding: 20px;
        width: 900px;
        /*height: 1998px;*/
        border:20px;
        border-color:; #ffaa77;
        background-color:cornsilk;
        font-family: "Short Stack";
       
        
    }
    .bg-faded {
  background-color: palegoldenrod;
 
    }
    .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /*background-color: gainsboro;*/ 
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding:20px;
}
/*.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}*/
.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.tablebox{
    padding:20px;
}

  </style>

</head>
  <body>
     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <div class = "container">
      
     
  
      <%= render 'layouts/header' %>
      
      <%= yield %>
      
      <%= render 'layouts/footer' %>
      
    </div>
    <!-- <%= debug(params) if Rails.env.development? %>   -->
  </body>
</html>